/* место для вашего кода */
.header {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 1340px;
  padding-top: 92px;
  padding-bottom: 92px;
  align-items: center;
}

.header__menu {
  display: flex;
}

.header__links-list {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: circle;
  gap: 32px;
  white-space: nowrap;
}

.header__links-list-item {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #000;
}

.header__link_active {
  text-decoration: none;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  text-underline-offset: 5px;
}

.header__logo {
  display: block;
  align-items: center;
  justify-content: center;
  margin-left: 209px;
  margin-right: 355px;
}

.header__logo-image {
  width: 148px;
  height: 105px;
}

.header__adress {
  display: flex;
  flex-direction: column;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 135%;
  margin: 5px 0px 7px;
  text-underline-offset: 5px;
  font-style: normal;
}

.cover {
  position: relative;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
  width: 1440px;
  margin: 0 auto;
  padding: 0;
}

.overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
  max-width: 1440px;
  width: 100%;
  height: 100%;
}

.cover__title {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 7px;
  font-family: "Raleway", sans-serif;
  color: #fff;
  font-size: 100px;
  font-weight: 700;
  line-height: 115%;
  text-transform: uppercase;
  width: 1340px;
  margin: 0 auto;
}

.aligned-text {
  padding-top: 165px;
}

.aligned-text_center {
  text-align: center;
  padding-right: 30px;
}

.aligned-text_right {
  text-align: center;
  padding-left: 920px;
}

.no-letter-spacing {
  display: inline;
  margin-left: 30px;
}

.letter-spacing-extended {
  letter-spacing: 30px;
}

.cover__description {
  position: relative;
  z-index: 1;
  display: flex;
  gap: 78px;
  justify-content: flex-end;
  font-family: "Raleway", sans-serif;
  color: #fff;
  text-transform: uppercase;
  align-items: center;
}

.cover__description-text {
  line-height: 28px;
  word-spacing: 18px;
  text-align: center;
  font-weight: 400;
  font-size: 22px;
  padding-top: 78px;
}

.bet-button {
  border: 1px white solid;
  background-color: rgba(0, 0, 0, 0);
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  color: #fff;
  font-size: 22px;
  font-weight: 400;
  padding: 0px 32px 0px 32px;
  min-height: 52px;
  margin: 128px 51px 55px 0px;
}

.lots {
  width: 1340px;
  margin: 0 auto;
}

.lots__heading {
  font-size: 40px;
  font-weight: 700;
  margin: 180px 0px 27px 40px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  gap: 25px;
  list-style: none;
}

.lots__card-list-item {
  display: flex;
  flex-grow: 1;
}

.card-link {
  text-decoration: none;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1;
  width: 430px;
  min-height: 450px;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.card__title {
  position: relative;
  z-index: 1;
  font-family: "Raleway", sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 120%;
  color: #fff;
  text-decoration: underline;
  text-transform: uppercase;
  padding: 46px 40px 0px 40px;
  text-underline-offset: 4px;
}

.card__text {
  position: relative;
  z-index: 1;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
  color: #fff;
  padding: 0 40px 50px 40px;
}

.lots__look-more-link {
  display: block;
  font-size: 20px;
  font-family: "Raleway", sans-serif;
  line-height: normal;
  text-decoration: underline;
  text-underline-offset: 4px;
  margin-top: 30px;
  margin-left: 40px;
}

.about {
  width: 1340px;
  margin: 0 auto;
  padding-top: 181px;
}

.about__column {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(1, 1fr);
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  background-color: #000;
  border-radius: 50%;
  margin: 0px 95px;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__information {
  font-family: "Raleway", sans-serif;
}

.about__title {
  font-size: 40px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  padding: 100px 0px 100px 13px;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-size: 20px;
  font-weight: 400;
  padding-left: 8px;
}

.footer {
  width: 1340px;
  margin: 0 auto;
  display: flex;
  gap: 356px;
  margin-top: 180px;
  margin-bottom: 90px;
  font-size: 18px;
  font-weight: 400;
  text-underline-offset: 5px;
}

.footer__adress {
  display: flex;
  flex-direction: column;
  line-height: 135%;
  font-style: normal;
}

.footer__menu {
  display: flex;
  flex-direction: column;
  text-align: center;
  white-space: nowrap;
}

.footer__menu-list {
  list-style: none;
  line-height: normal;
}

.footer__menu-list-item {
  line-height: normal;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  gap: 48px;
}

.footer__social-icon {
  width: auto;
  height: 48px;
}

.footer__social-list-item {
  list-style: none;
}
